body {
  max-width: 30em;
  padding: 1em;
  margin: auto;

  background-color: #222;
  color: #ccc;

  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}

code { font-family: 'Fira Mono', monospace; }

dd { margin-bottom: 1em; }
dt { font-weight: bold; }

a { text-decoration-style: dotted; }
a:link, a:visited { color: #69c; }

a:hover, a:focus, a:active, .cheer:hover {
  outline: 0.1em dotted #fc8;
  animation: pulse-outline-offset 200ms ease-in-out infinite;
}

a:active, ::selection {
  background-color: #48c;
  color: rgba(0, 0, 0, 0);
  text-shadow:
    -0.05em -0.05em #fc8,
    -0.04em -0.04em #fc8,
    -0.03em -0.03em #ec9,
    -0.02em -0.02em #dca,
    -0.01em -0.01em #ccb,
     0.00em  0.00em #bcb,
    +0.01em +0.01em #bcc,
    +0.02em +0.02em #acd,
    +0.03em +0.03em #9ce,
    +0.04em +0.04em #8cf,
    +0.05em +0.05em #8cf;
}

.title, .subtitle { text-align: center; }
.title { font-size: 3em; }
.subtitle { font-size: 2em; }

.centered-image {
    display: block;
    max-width: 100%;
    margin: auto;
}

@keyframes pulse-outline-offset {
  0%   { outline-offset: 0.0em; }
  50%  { outline-offset: 0.2em; }
  100% { outline-offset: 0.0em; }
}

@media (max-width: 30em) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 40em) {
  body {
    font-size: 20px;
  }
}
